<form [formGroup]="formGroup" class="w-full max-h-[calc(100vh-300px)] overflow-y-auto">
    <!-- Address -->
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate" />
    } @else {
    <div formGroupName="address" class="ml-1">
        <mat-form-field class="w-full">
            <mat-label>Street</mat-label>
            <input matInput formControlName="street" [readonly]="isReadOnly">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" [readonly]="isReadOnly">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" [readonly]="isReadOnly">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Zip</mat-label>
            <input matInput formControlName="zip" [readonly]="isReadOnly">
        </mat-form-field>
        @if (isReadOnly) {
        <mat-form-field class="w-full">
            <mat-label>Country</mat-label>
            <input matInput value="{{getCountry()}}" readonly required>
        </mat-form-field>
        }
        <!-- @else { -->
        <!-- <mat-form-field class="w-full">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
                @for(entry of fireService.countries.entries(); track entry) {
                <mat-option [value]="entry[0]">{{entry[1]}}</mat-option>
                }
            </mat-select>
        </mat-form-field> -->
        <!-- } -->
    </div>
    }
    <!-- Region -->
    <!-- <mat-form-field class="w-full">
        <mat-label>Region</mat-label>
        @if (isReadOnly) {
        <input matInput formControlName="region" value="{{getRegion()}}" readonly>
        } @else { <mat-select formControlName="region">
            @for(entry of fireService.regions; track entry) {
            <mat-option [value]="entry[0]">{{entry[1]}}</mat-option>
            }
        </mat-select> }
    </mat-form-field> -->
    <!-- Language -->
    <!-- <mat-form-field class="w-full">
        <mat-label>Languages</mat-label>
        @if (isReadOnly){
        <input matInput value="{{getLanguages().join(', ')}}" readonly>
        } @else{
        <mat-chip-grid #chipGrid>
            @for (language of data.languages; track language;) {
            <mat-chip-row>
                {{language}}
                <button matChipRemove><mat-icon>cancel</mat-icon></button>
            </mat-chip-row>
            }
            <input [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addLanguage($event)" placeholder="Add language">
        </mat-chip-grid>
        }
    </mat-form-field> -->
    <!-- Difficulties -->
    <mat-form-field class="w-full">
        <mat-label>Did you experience any language difficulties?</mat-label>
        <textarea matInput formControlName="difficulties" [readonly]="isReadOnly" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <!-- Sectors -->
    <!-- <mat-form-field class="w-full">
        <mat-label>Sectors</mat-label>
        @if (isReadOnly) {
        <input matInput value="{{getSectors()}}" readonly>
        } @else { <mat-select formControlName="sectors">
            @for(entry of fireService.sectors; track entry) {
            <mat-option [value]="entry[0]">{{entry[1]}}</mat-option>
            }
        </mat-select>}
    </mat-form-field> -->
    <!-- Cost, Stipend, Duration -->
    <mat-form-field class="mr-2">
        <mat-label>Cost of PE</mat-label>
        <input matInput formControlName="cost" [readonly]="isReadOnly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Stipend paid by organization</mat-label>
        <input matInput formControlName="stipend" [readonly]="isReadOnly">
    </mat-form-field>
    <mat-form-field class="ml-2">
        <mat-label>Duration of PE</mat-label>
        <input matInput formControlName="duration" [readonly]="isReadOnly">
    </mat-form-field>
    <!-- Work Done, Typical Day, Strengths/Weaknesses, Other comments -->
    <mat-form-field class="w-full">
        <mat-label>Please describe the work that you did with your organization.</mat-label>
        <textarea matInput formControlName="workDone" [readonly]="isReadOnly" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>What was a typical day like while on your PE?</mat-label>
        <textarea matInput formControlName="typicalDay" [readonly]="isReadOnly" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>What were the organization's strengths and weaknesses?</mat-label>
        <textarea matInput formControlName="evaluation" [readonly]="isReadOnly" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Other comments you want to add?</mat-label>
        <textarea matInput formControlName="otherComments" [readonly]="isReadOnly" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <!-- Safety, Responsiveness, Characteristics -->
</form>
@if (!isReadOnly) {
<mat-action-row class="flex flex-row items-center justify-center">
    <button mat-flat-button color="primary" [disabled]="!canSave">Save</button>
    <button mat-icon-button>
        <mat-icon>delete</mat-icon>
    </button>
</mat-action-row>
}