<mat-card class="max-h-[calc(100vh-130px)] w-full">
    @if (loading) {
    <mat-progress-bar mode="indeterminate" />
    } @else {
    <mat-card-content class="pb-4">
        <mat-accordion>
            @for (review of reviews; track review.id; let idx = $index) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Review #{{idx + 1}}
                        <i class="text-gray-400 ml-4">posted {{formatTime(review.createdAt)}}</i>
                    </mat-panel-title>
                    <mat-panel-description>
                        open to see review details
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-review [data]="review" />
            </mat-expansion-panel>
            } @empty {
            <p>No review yet.</p>
            }
        </mat-accordion>
    </mat-card-content>
    }
</mat-card>